/Laskarit/2viikko/Maksukortti/nbproject/
/Laskarit/2viikko/Maksukortti/target/
/Laskarit/2viikko/Unicafe/target/
OpintojenSeurantaJarjestelma/target
/OpintojenSeurantaJarjestelma/nbproject/
/studyRecord/target
/studyRecord/nbproject/
/studyRecord/studies.mv
/studyRecord/studies.trace
